<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Klappat och klart!</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        html {
        background-color: #1e232b;
        }
    </style>
</head>
<body>
<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Då var allt fixat!</h1>
<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Ses snart!!!</h1>


</body>
</html>