<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inte scuffed alls</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        html {
        background-color: #1e232b;
        }
    </style>
</head>
<body>
<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl lg:text-6xl text-white">Inte scuffed alls</h1>
<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl lg:text-6xl text-white">Gå med nedan, det blir kul</h1>

<form class="max-w-sm mx-auto" action="authorize" method="GET">
  <div class="mb-5">
    <label for="uname" class="block mb-2 text-sm font-medium text-white">Ditt namn</label>
    <input type="text" name="uname" id="uname" class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Jonas Månsson" required />
  </div>
  <div class="mb-5">
    <label for="gr" class="block mb-2 text-sm font-medium text-white">Din grupp (24, för PG24 osv.)</label>
    <input type="number" name="gr" id="gr" class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
  </div>

  <button type="submit" formmethod="get" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Logga in med Spotify</button>
</form>

</body>
</html>